.container {
    display: flex;
}
  
.element {
display: inline-block;
margin: 0 20px;
}

.td {
    border: none!important;
}

.th {
    border: none!important;
}

.table {
    border-collapse: collapse;
}
